# Mac OS X Finder cache files
.DS_Store

# Vim swap files
.*.swp

# Emacs auto-save and backup files
*~
\#*#
.#*

# Vim caches and metadata, backups, bundles, etc
/vim/tmp
/vim/.netrwhist
/vim/yankring_history*.txt
/vim/doc/tags
/vim/doc/tags-ja
/vim/bundle

# Ansible files
/ansible/site.retry
/ansible/hosts
/ansible/hosts.yml

.vstags
