[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/rdist"]
	path = vim/bundle/rdist
	url = https://github.com/tangledhelix/vim-rdist.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/quickrun"]
	path = vim/bundle/quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/tangledhelix/vim-snipmate.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tangledhelix/vim-endwise.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/octopress"]
	path = vim/bundle/octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
