# Mac OS X Finder cache files
.DS_Store

# Vim swap files
.*.swp

# Emacs auto-save and backup files
*~
\#*#
.#*

# Vim caches and metadata, backups, bundles, etc
/roles/vim/files/vim/tmp
/roles/vim/files/vim/.netrwhist
/roles/vim/files/vim/yankring_history*.txt
/roles/vim/files/vim/doc/tags
/roles/vim/files/vim/doc/tags-ja
/roles/vim/files/vim/bundle

# Ansible files
*.retry
/inventory/
/vars/gituser.yml
/vars/gituser.json

.vstags
/node_modules/
/yarn.lock
