
# ports defined in nginx:
# 2914 - main site
# 2915 - tangledhelix.com preview
# 2916 - cfn.tangledhelix.com preview
# 2918 - free
# 2920 - dojo-core-essentials
# 2921 - dojo-widget-essentials
# 2922 - intern-workshop
# 2923 - mac-support
# 2924 - free

worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       127.0.0.1:2914;
        server_name  localhost;

        location / {
            root   html;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

    # tangledhelix.com
    server {
        listen       127.0.0.1:2915;
        server_name  localhost;

        location / {
            root   /usr/local/var/www/tangledhelix.com;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

    # cfn.tangledhelix.com
    server {
        listen       127.0.0.1:2916;
        server_name  localhost;

        location / {
            root   /usr/local/var/www/cfn.tangledhelix.com;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

    # dojo-core-essentials
    server {
        listen       127.0.0.1:2920;
        server_name  localhost;

        location / {
            root   /usr/local/var/www/dojo-core-essentials;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

    # dojo-widget-essentials
    server {
        listen       127.0.0.1:2921;
        server_name  localhost;

        location / {
            root   /usr/local/var/www/dojo-widget-essentials;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

    # intern-workshop
    server {
        listen       127.0.0.1:2922;
        server_name  localhost;

        location / {
            root   /usr/local/var/www/intern-workshop;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

    # mac-support
    server {
        listen       127.0.0.1:2923;
        server_name  localhost;

        location / {
            root   /usr/local/var/www/mac-support;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }

}

include servers/*;

