<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.tangledhelix.nbk</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/dan/bin/start_nodebook</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/dan</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/nbk.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/nbk.log</string>
  </dict>
</plist>
