-- line numbers in gutter
vim.opt.number = true
vim.opt.relativenumber = true

-- mouse support ('a' for everything, leave unset for no mouse)
-- vim.opt.mouse = 'a'

-- for searching
vim.opt.ignorecase = true
vim.opt.smartcase = true
vim.opt.hlsearch = true

-- text wrapping, indenting
vim.opt.wrap = true
vim.opt.breakindent = false

-- tab stops
-- TODO: modify in certain syntaxes like yaml, maybe json
vim.opt.tabstop = 4
vim.opt.softtabstop = 4
vim.opt.shiftwidth = 4
-- TODO: turn this off in certain files like Makefile
vim.opt.expandtab = true

-- highlight the line the cursor is on
vim.opt.cursorline = true

-- example leader binding
vim.g.mapleader = ' '
-- <space>w : write file
-- vim.keymap.set('n', '<leader>w', '<cmd>write<cr>', {desc = 'Save'})

-- interact with system clipboard with 'cp' and 'cv'
-- (works in normal or visual modes)
{% if ansible_os_family == 'Darwin' -%}
vim.keymap.set({'n', 'x'}, 'cp', '"+y')
vim.keymap.set({'n', 'x'}, 'cv', '"+p')
{% endif -%}

-- better j,k line navigation when lines are wrapped
vim.keymap.set({'n', 'x'}, 'j', 'gj', {noremap = true})
vim.keymap.set({'n', 'x'}, 'k', 'gk', {noremap = true})

-- an Esc key when I don't feel like stretching my delicate pinky
vim.keymap.set('i', 'kj', '<esc>', {})
vim.keymap.set('i', 'jj', '<esc>', {})

