
vim.g.mapleader = " "

{% if ansible_distribution == "MacOSX" %}
-- Interact with system clipboard (works in normal or visual modes)
vim.keymap.set({"n", "x"}, "<leader>y", '"+y')
vim.keymap.set({"n", "x"}, "<leader>p", '"+p')
vim.keymap.set({"n", "x"}, "<leader>P", '"+P')
{% else %}
-- Remind user these mappings don't work here
vim.keymap.set({"n", "x"}, "<leader>y", ":echo 'Sorry, no system clipboard here'<CR>")
vim.keymap.set({"n", "x"}, "<leader>p", ":echo 'Sorry, no system clipboard here'<CR>")
vim.keymap.set({"n", "x"}, "<leader>P", ":echo 'Sorry, no system clipboard here'<CR>")
{% endif %}

-- better j,k line navigation when lines are wrapped
vim.keymap.set({"n", "x"}, "j", "gj", {noremap = true})
vim.keymap.set({"n", "x"}, "k", "gk", {noremap = true})

-- an Esc key when I don't feel like stretching my delicate pinky
--vim.keymap.set("i", "kj", "<esc>", {})
--vim.keymap.set("i", "jj", "<esc>", {})

-- use J/K in visual mode to move lines (and re-indent)
vim.keymap.set("v", "J", ":m '>+1<CR>gv=gv")
vim.keymap.set("v", "K", ":m '<-2<CR>gv=gv")

-- keep cursor position when joining lines, using ^D / ^U
-- or when using search navigation (n, N)
vim.keymap.set("n", "J", "mzJ`z")
vim.keymap.set("n", "<C-d>", "<C-d>zz")
vim.keymap.set("n", "<C-u>", "<C-u>zz")
vim.keymap.set("n", "n", "nzzzv")
vim.keymap.set("n", "N", "Nzzzv")

-- explorer
vim.keymap.set("n", "<leader>e", vim.cmd.Ex)

--vim.keymap.set("n", "<leader>w", "<cmd>write<cr>", {desc = "Save"})

-- an Esc key when I don't feel like stretching my delicate pinky
--vim.keymap.set("i", "kj", "<esc>", {})
--vim.keymap.set("i", "jj", "<esc>", {})
